* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("board2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
  align-items: center;
  
}

.play_table {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  font-size: 5vh;
}

.player_1_zone,
.player_2_zone {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.player_2_zone {
  padding-left: 10vh;
}
.player_1_zone {
  padding-right: 10vh;
}

.player_1_current,
.player_2_current 
{
background-color: rgba(211, 35, 35, 0.452);
border-radius: 30px;
padding: 10px 2px 10px 2px;

}

.player_1_name,
.player_2_name
{
background-color: rgba(210, 211, 223, 0.452);
border-radius: 10px;
padding: 10px 2px 10px 2px;
}

.player_1_result,
.player_2_result {
background-color: rgba(26, 38, 170, 0.452);
border-radius: 10px; 
color:white;
padding:20px 2px 20px 2px;
}

.btn {
  font-size: 5vh;
  width: 30vh;
  margin-top: 10px;
  background-color: maroon;
  color: antiquewhite;
}

.new_game_btn {
  background-color: darkgreen;
}

.footer_button {
  display: flex;
  flex-direction: column;
}

.dice {
  position: absolute;
  left: 50%;
  top: 100px;
  height: 8%;
  display: block;
  transform: translateX(-50%);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

#dice-1 {
  margin-top: 10vh;
}
#dice-2 {
  margin-top: 25vh;
}

@media (max-width: 501px) {
  .player_2_zone {
    padding-left: 15vh;
  }
  .player_1_zone {
    padding-right: 15vh;
  }
}

@media (min-width: 500px) {
  .player_2_zone {
    padding-left: 110px;
  }
  .player_1_zone {
    padding-right: 110px;
  }
}


.active {
    color:white;
    background-color:red;
}

.final-score{
    width: 20vh;
    height: 3vh;
    margin-bottom:10vh;
    font-size: 3vh;
    color:black;
}